
    <header id="header">

        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="http://pesitsouthscibase.org">
                        <h1><img src="/images/logo.png" alt="logo"></h1>
                    </a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://pesitsouthscibase.org">SciBase Home</a></li>
                        <li><a href="/">OPRS Home</a></li>
                        <li><a href="/public_articles">Public Articles</a></li>
                        <li><a href="#">User Articles</a></li>
                        {{#if user}}
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span id = "firstName"></span>
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                        {{else}}
                        <li><a href="/login">Login</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <script>
        $(document).ready(function(){
         {{#if user}}
             var fullName = "{{user.name}}".split(" ");
             $("#firstName").text(fullName[0]);
         {{/if}}

        });
 </script>
    <!--/#header-->


    <section id="page-breadcrumb">
        <div class="vertical-center sun">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Open Peer Review System</h1>
                            <p>Read and review public articles</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#page-breadcrumb-->
    <section id="blog-details" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-7">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="single-blog blog-details two-column">
                                <div class="post-content overflow">
                                    <h2 class="post-title bold">{{title}}</h2>
                                    <h4 class="post-author">{{author_names}}</h4>
                                    <p>{{{summary}}}</p>

                                    <br>
                                    <div class="response-area">
                                        <h2 class="bold">Reviews</h2>
                                        <ul class="media-list">
                                            {{#each comments}}
                                            <li class="media">
                                                <div class="post-comment">
                                                    <a class="pull-left" href="#">
                                                        <img class="media-object" src="/images/1.png" alt="">
                                                    </a>
                                                    <div class="media-body">
                                                        <span><i class="fa fa-user"></i>Posted by <strong>{{this.name}}</strong></span>
                                                        <p>{{this.text}}</p>
                                                        <ul class="nav navbar-nav post-nav">
                                                            <li><i class="fa fa-clock-o"></i> {{this.created_at}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            {{/each}}
                                            {{#unless comments}}
                                            <p>No reviews so far.<p>
                                            {{/unless}}
                                        </ul>
                                        <br>
                                        <div class="col-md-8 col-sm-12">
                                            <div class="contact-form bottom">
                                                <h2>Submit a review</h2>
                                                {{#if isAuthenticated}}
                                                <form id="main-contact-form" name="contact-form" method="post" action="">
                                                    <h3>Posting as <strong>{{user.name}}</strong>.</h3>
                                                    <div class="form-group">
                                                        <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <input name="submit" class="btn btn-submit" value="Submit" type="submit">
                                                    </div>
                                                </form>
                                                {{else}}
                                                <h3><a href="/login">Login</a> to post a review.</h3>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                    <!--/Response-area-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-5">
                    <div class="sidebar blog-sidebar">
                        <div class="sidebar-item  recent">
                            <h3>Info</h3>
                            <div class="media">
                                <div class="pull-left">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="media-body">
                                    <h5>Published on: {{publish_date}}</h5>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <i class="fa fa-book"></i>
                                </div>
                                <div class="media-body">
                                    <h5>Category: {{category_name}}</h5>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <i class="fa fa-share"></i>
                                </div>
                                <div class="media-body">
                                    <h5><a href="{{arxiv_url}}" target="_blank">View on Arxiv</a></h5>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <i class="fa fa-download"></i>
                                </div>
                                <div class="media-body">
                                    <h5><a href="{{pdf_url}}" target="_blank">Download PDF</a></h5>
                                </div>
                            </div>
                            {{#if arxiv_comments}}
                            <div class="media">
                                <div class="pull-left">
                                    <i class="fa fa-comment"></i>
                                </div>
                                <div class="media-body">
                                    <h5>Comments</h5>
                                    <p>{{arxiv_comments}}</p>
                                </div>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#blog-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="/images/under.png" class="img-responsive inline" alt="">
                </div>
                <div class="col-sm-12" style="margin-top:50px">
                    <div class="copyright-text text-center">
                        <p>© SciBase | PES Institute of Technology - Bangalore South Campus. All Rights Reserved.</p>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
    </script>
    <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
